<div class="nav-wrapper">
  <div class="nav">
    <div class="nav-toggle" (click)="toggle()">
      <span class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="36"
          height="36"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="21" x2="3" y1="18" y2="18"></line>
          <line x1="21" x2="3" y1="12" y2="12"></line>
          <line x1="21" x2="3" y1="6" y2="6"></line>
        </svg>
      </span>
    </div>
    <div class="nav-logo">
      <h2>
        Assani <br />
        <!-- <small>Collection</small> -->
      </h2>
    </div>
    <div class="nav-icons">
      <a href="#">
        <span class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="36"
            height="36"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="9" fill="none"></circle>
            <line x1="17.5" y1="17.5" x2="22" y2="22"></line>
          </svg>
        </span>
      </a>
      <a routerLink="/cart">
        <span class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="36"
            height="36"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M21,6V20a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2V6L5.7,2.4A1,1,0,0,1,6.5,2h11a1,1,0,0,1,.8.4Z"
            ></path>
            <line x1="21" y1="6" x2="3" y2="6" stroke-linecap="round"></line>
            <path d="M17,10A5,5,0,0,1,7,10"></path>
          </svg>
        </span>
      </a>
    </div>
  </div>
</div>

<div class="side_nav" (click)="closeModal()">
  <div class="side_content" (click)="stop($event)">
    <div class="side_head">
      <h3>Assani</h3>
      <a routerLink="/login" class="side_icon_login">
        <span class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="36"
            height="36"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="12" cy="6" r="4"></circle>
            <path
              d="M17.67,22a2,2,0,0,0,1.92-2.56A7.8,7.8,0,0,0,12,14a7.8,7.8,0,0,0-7.59,5.44A2,2,0,0,0,6.34,22Z"
            ></path>
          </svg>
        </span>
      </a>
    </div>
    <div class="side_nav_link">
      <a routerLink="/home">home</a>
      <a routerLink="/home">chemise</a>
      <a routerLink="/home">veste</a>
      <a routerLink="/home">chaussure</a>
      <a routerLink="/home">pull & sweat</a>
    </div>
  </div>
</div>
