@import "../../../../assets/sass/_mixins.scss";
@import "../../../../assets/sass/_variables.scss";
@media screen and (max-width: 762px) {
  .nav-wrapper {
    width: 100%;
    background-color: $color-white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    .nav {
      @include flexBetween;
      width: 100%;
      align-items: center;
      line-height: 0px;
      padding: 20px 20px;
      box-shadow: 0px 1px 0px 0px rgba(0 0 0 / 20%);
      .nav-toggle {
        display: flex;
        cursor: pointer;
        svg {
          width: 26px;
          height: 26px;
        }
      }
      .nav-logo {
        display: block;
        text-align: center;
        margin-left: 32px;
        h2 {
          user-select: none;
          -webkit-user-select: none;
          line-height: 15px;
          font-family: Sofia;
          font-size: 20px;
          text-transform: uppercase;
          // padding-top:3px;
          display: inline-block;
          small {
            font-family: "SansPro-Regular";
            font-size: 12px;
            text-transform: capitalize;
          }
        }
      }

      .nav-icons {
        @include flex;
        gap: 0 10px;
        margin-right: -5px;
        a {
          padding: 4px;
        }
      }
    }
  }
  .side_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0 0 0 / 80%);
    z-index: 4000;
    opacity: 0;
    visibility: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    &.active {
      opacity: 1;
      visibility: 1px;
      pointer-events: auto;
    }

    .side_content {
      background: $color-white;
      width: 230px;
      height: 100%;
      transition: transform 0.2s;
      transform: translateX(-100%);
      &.active {
        transform: translateX(0%);
      }

      .side_head {
        @include flexBetween;
        width: 100%;
        padding: 20px;
        align-items: center;
        h3 {
          font-family: "sofia";
          text-transform: uppercase;
        }

        .side_icon_login {
          @include flexMid;
          align-items: center;
          width: 30px;
          height: 30px;
        }
      }

      .side_nav_link {
        width: 100%;
        a {
          display: inline-block;
          width: 100%;
          padding: 10px 20px;
          font-size: 18px;
          text-transform: capitalize;
          color: $color_black;
        }
      }
    }
  }
}
