<div class="body-app">
  <app-nav></app-nav>
  <main class="main">
    <!-- Detail-header -->
    <!-- Detail-header -->
    <div class="detail_header">
      <a routerLink="/home" class="detail_left">
        <span class="icon"></span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="36"
          height="36"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="11 7 6 12 11 17"></polyline>
          <line x1="6" y1="12" x2="18" y2="12"></line>
        </svg>

        <span class="back">RETOUR</span>
      </a>
      <div class="detail_right">
        <span class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="36"
            height="36"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M21,6V20a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2V6L5.7,2.4A1,1,0,0,1,6.5,2h11a1,1,0,0,1,.8.4Z"
            ></path>
            <line x1="21" y1="6" x2="3" y2="6" stroke-linecap="round"></line>
            <path d="M17,10A5,5,0,0,1,7,10"></path>
          </svg>
        </span>
      </div>
    </div>
    <!-- Detail-header -->
    <!-- Detail-header -->
    <!-- Store-main-content -->
    <!-- Store-main-content -->
    <div class="main_content">
      <div class="main_title">
        <h2>Mon panier</h2>
      </div>

      <div class="cart">
        <div class="cart_content">
          <a routerLink="#" class="cart_box">
            <div class="cart_img">
              <img
                src="../../../../assets/image/products/1002179_11845_V1.webp"
                alt=""
              />
            </div>
            <div class="cart_name">
              <h3>Veste de costume extra-slim...</h3>
              <div class="product_color">
                <span class="color color_blue"></span>
              </div>
              <p>129,9$</p>
            </div>
            <div class="cart_counter">
              <span class="icon minus">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="512"
                  height="512"
                  viewBox="0 0 512 512"
                >
                  <line
                    x1="400"
                    y1="256"
                    x2="112"
                    y2="256"
                    style="
                      fill: none;
                      stroke: currentColor;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                </svg>
              </span>
              <input type="text" class="show_input" value="1" />
              <span class="icon plus">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="512"
                  height="512"
                  viewBox="0 0 512 512"
                >
                  <line
                    x1="256"
                    y1="112"
                    x2="256"
                    y2="400"
                    style="
                      fill: none;
                      stroke: currentColor;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                  <line
                    x1="400"
                    y1="256"
                    x2="112"
                    y2="256"
                    style="
                      fill: none;
                      stroke: currentColor;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                </svg>
              </span>
            </div>
          </a>
          <a routerLink="#" class="cart_box">
            <div class="cart_img">
              <img
                src="../../../../assets/image/products/1002509_18006_V1.webp"
                alt=""
              />
            </div>
            <div class="cart_name">
              <h3>Veste de costume extra-slim...</h3>
              <div class="product_color">
                <span class="color color_black"></span>
              </div>
              <p>100$</p>
            </div>
            <div class="cart_counter">
              <span class="icon minus">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="512"
                  height="512"
                  viewBox="0 0 512 512"
                >
                  <line
                    x1="400"
                    y1="256"
                    x2="112"
                    y2="256"
                    style="
                      fill: none;
                      stroke: currentColor;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                </svg>
              </span>
              <input type="text" class="show_input" value="1" />
              <span class="icon plus">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="512"
                  height="512"
                  viewBox="0 0 512 512"
                >
                  <line
                    x1="256"
                    y1="112"
                    x2="256"
                    y2="400"
                    style="
                      fill: none;
                      stroke: currentColor;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                  <line
                    x1="400"
                    y1="256"
                    x2="112"
                    y2="256"
                    style="
                      fill: none;
                      stroke: currentColor;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                </svg>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Store-main-content -->
    <!-- Store-main-content -->
  </main>

  <div class="buy_btn">
    <div class="buy_information">
      <div class="buy_info_head">
        <h3>Produits</h3>
        <h3>2</h3>
      </div>
      <div class="buy_info_head">
        <h3>Total</h3>
        <h3>229$</h3>
      </div>
    </div>
    <button>Acheter maintenant</button>
  </div>
</div>
